<div class="separador-class text-center">Información Personal</div>
<div class="container pof">
  <div>
    <span style="font-weight: 700">Nombre:</span> Brayan Jakes Inojosa Infante
  </div>
  <div><span style="font-weight: 700">Edad:</span> 26 Años</div>
  <div><span style="font-weight: 700">Nacionalidad:</span> Venezolano</div>
  <div><span style="font-weight: 700">Fecha nacimiento:</span> 08/06/1995</div>
  <div>
    <span style="font-weight: 700">Numero de Contacto:</span> +584128797171
  </div>
  <div><span style="font-weight: 700">Email:</span> brianjakes22@gmail.com</div>
</div>
<div class="separador-class text-center">Acerca de mí</div>
<div class="container pof">
    Chico de 26 años, serio, responsable, auto-didáctico, tengo mis momentos tanto
    laborales como no laborales donde me tomo muy enserio lo que hago.. me
    apasiona mucho el ámbito de la programación, saber como se hizo un programa o
    un juego sera siempre una curiosidad que tendré en mente y mas si lo quiero
    implementar a mi manera, El framework web con el que mas me destaco es <span style="font-weight: 700">Angular</span>
    siendo dicho framework uno de los mejores en hacer aplicaciones web al estilo
    <span style="font-weight: 700">SPA(Single Page Aplication)</span>, por ender gracias a esta poderosa herramienta eh
    logrado hacer una que otra App web y demostrar mis habilidades como
    <span style="font-weight: 700">desarrollador Web</span>
  </div>
