<div
  class="separador-class text-center"
  [style.font-size]="responsive.responsiveStatus !== 1 ? '1.3vw' : '2.3vw'"
>
  Información Personal
</div>
<div
  class="container pof"
  [style.font-size]="responsive.responsiveStatus !== 1 ? '1vw' : '2vw'"
>
  <div>
    <span style="font-weight: 700">Nombre:</span> Brayan Jakes Inojosa Infante
  </div>
  <div><span style="font-weight: 700">Edad:</span> 26 Años</div>
  <div><span style="font-weight: 700">Nacionalidad:</span> Venezolano</div>
  <div><span style="font-weight: 700">Fecha nacimiento:</span> 08/06/1995</div>
  <div>
    <span style="font-weight: 700">Numero de Contacto:</span> +584128797171
  </div>
  <div><span style="font-weight: 700">Email:</span> brianjakes22@gmail.com</div>
</div>
<div
  class="separador-class text-center"
  [style.font-size]="responsive.responsiveStatus !== 1 ? '1.3vw' : '2.3vw'"
>
  Acerca de mí
</div>
<div
  class="container pof"
  [style.font-size]="responsive.responsiveStatus !== 1 ? '1vw' : '2vw'"
>
  Me caracterizo por ser resolutivo, responsable, serio y autodidacto, no
  limitando mis conocimientos sino ampliándolos y aprendiendo de ello, para
  crecer cada vez más en este mundo de la programación. Tengo mis momentos
  laborales como no laborales, donde tomarme en serio el trabajo es
  característico de mí personalidad. 
  <br>
  <br>
  Me apasiona el ámbito de la programación,
  descubrir y aprender de un programa o un juego, para mí será siempre una
  curiosidad, tenerlo en mi mente y analizarlo estará presente y más si lo
  quiero implementar a mí manera. 
  <br>
  <br>
  El framework web con el que más me destaco es
  <span style="font-weight: 700">Angular</span>, siendo dicho framework uno de los mejores en hacer aplicaciones web
  al estilo <span style="font-weight: 700">SPA(Single Page Aplication)</span>, por ende, gracias a esta poderosa
  herramienta he logrado hacer múltiples aplicaciones web, y con ellas
  desmostrar mis habilidades como <span style="font-weight: 700">desarrollador Web</span>
</div>
